<?xml version="1.0" encoding="utf-8" ?>
<FileSystemWatcherSettings CultureInfo="ru-RU">
	<Rules>
		<Rule FilePattern="\w*.docx" DestinationFolder="C:\Github\Module1\WordFiles" FileNameChanged="Index"/>
		<Rule FilePattern="\w*.txt" DestinationFolder="C:\Github\Module1\TxtFiles" FileNameChanged="Date"/>
		<Rule FilePattern="\w*.\w*" DestinationFolder="C:\Github\Module1\DefaultFolder" FileNameChanged="Date"/>
	</Rules>
	<Directories>
		<Directory Path="C:\Github\Module1"></Directory>
	</Directories>
</FileSystemWatcherSettings>